<h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>
<%# <%= gravatar_for() %> 
<div class="text-center">"imagen"</div>

<div class="text-center mt-4">
    <% if logged_in? && @user == current_user%>
        <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
    <% end%>
</div>
<h3 class="text-center mt-4">Articles</h3>
<div class="row justify-content-md-center mt-4">
    <%== pagy_bootstrap_nav(@pagy).html_safe %>
</div>
<%= render 'articles/article'%>
<div class="row justify-content-md-center mt-4">
    <%== pagy_bootstrap_nav(@pagy).html_safe %>
</div>
    